{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>Inventory SignUp Page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Inventory Sign Up Page</h1>
  <div id="signup-form-container">
    <h2>Sign Up</h2>
    <form method="POST">
      {% csrf_token %}
      <!-- <input type="text" id="fname" placeholder="First Name" required>
      <input type="text" id="lname" placeholder="Last Name" required>
      <input type="email" id="email" placeholder="Your Email" required>
      <input type="tel" id="tel" placeholder="Phone Number" required>
      <input type="password" id="password" placeholder="Password" required>
      <input type="password" id="confirm_password" placeholder="Confirm Password" required> -->
      {% for message in messages %}
      {% if message %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}
      {{ form|crispy }}
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a> </p>
  </div>
</body>
</html>