<footer class="col-md-9 ms-sm-auto col-lg-10 px-md-4 footer mt-auto py-3 bg-light">
    <div class="footer-content">
      <div class="footer-links">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
      <p>&copy; 2023 MD. Construction Site Managment App. All rights reserved.</p>
    </div>
</footer>