body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: blue;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.main {
  min-height: calc(100vh - 48px - 106.5px);
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.footer {
  background-color: #2d314d;
  color: rgb(0, 0, 0);
  padding: 2.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
}
.footer a {
  color: rgb(4, 8, 90);
  font-size: 25px;
}
.footer__logo {
  display: inline-block;
}
@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}
@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    align-self: end;
  }
}
.footer__social a {
  display: inline-block;
  height: 1.25rem;
}
.footer__social a svg path {
  transition: fill 150ms ease-in-out;
}
.footer__social a:hover svg path {
  fill: #313cd3;
}
.footer__social a:not(:last-child) {
  margin-right: 1rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}
@media (min-width: 64em) {
  .footer__links {
    justify-content: space-between;
    align-items: start;
  }
}
@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}
@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}
.footer__links a {
  line-height: 2;
  transition: color 150ms ease-in-out;
}
.footer__links a:hover {
  color: #31d35c;
}
@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    justify-self: end;
  }
}
@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
  color: #9698a6;
}
@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    align-self: end;
    justify-self: end;
  }
}
.footer .attribution {
  margin-top: 4rem;
  font-size: 0.875rem;
}

.footer-section {
  position: fixed;
  bottom: 0;
  width: 100%;

}

select.form-control:not([size]):not([multiple]) {
  width: 100%;
}



.itemnobox {
  width: 90px;
}

.material {
  width: 30%;
  margin-bottom: 0.5 rem;
}

.addmaterial {
  width: 50%;
  margin-bottom: 0.5 rem;
}

.addmaterial td {
  width: 30%;
}

td .save {
  width: 5%;
}

